.navbar {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu {
  display: flex;
  list-style: none;
  gap: 20px;
  font-size: 18px;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar button {
  background: transparent;
  font-size: 16px;
  color: #49557e;
  border: 1px solid tomato;
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
}

.navbar button:hover {
  background-color: #38a852;
  color: white;
}

.navbar .active {
  padding-bottom: 2px;
  border-bottom: 2px solid #49557e;
}

.navbar li {
  cursor: pointer;
}

.navbar-search-icon {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.navbar-search {
  display: flex;
  align-items: center;
}

.navbar-search-box {
  position: relative;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar-search-box input[type="text"] {
  width: 200px;
  padding: 8px;
  border: none;
  outline: none;
}

.search-results {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 150px;
  overflow-y: auto;
}

.search-results li {
  padding: 8px 0;
  cursor: pointer;
}

.search-results li:hover {
  background-color: #f0f0f0;
}

.navbar-logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

#navbar-logo {
  height: 50px;
}
